* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong, a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--blanco);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes background-mov {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes background-mov {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.section {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#01010a), color-stop(#06061e), color-stop(#080832), color-stop(#19193c), color-stop(#321446), color-stop(#46194b), to(#501e5a));
  background: linear-gradient(to right bottom, #01010a, #06061e, #080832, #19193c, #321446, #46194b, #501e5a);
  position: relative;
}

.mainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1 {
  color: white;
  font-size: 2.8em;
  font-weight: 600;
  position: absolute;
  top: 45%;
}

.puesto {
  color: white;
  position: absolute;
  top: 55%;
}

.logo {
  width: 100px;
  position: absolute;
  opacity: 0.3;
  top: 35%;
}

.cuerpo {
  background: -webkit-gradient(linear, right top, left bottom, from(#501e5a), color-stop(#46194b), color-stop(#321446), color-stop(#19193c), color-stop(#080832), color-stop(#06061e), to(#01010a));
  background: linear-gradient(to left bottom, #501e5a, #46194b, #321446, #19193c, #080832, #06061e, #01010a);
}

.works {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.secciones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  position: relative;
}

.nombreseccion {
  padding-left: 50px;
  margin-bottom: 50px;
}

.nombreseccion .h2 {
  background: -webkit-gradient(linear, right top, left top, from(#C6EA8D), to(#FE90AF));
  background: linear-gradient(to left, #C6EA8D, #FE90AF);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px;
}

.lineasub {
  width: 150px;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(#d74d89), color-stop(#eb8777), to(#f1a355));
  background: linear-gradient(to left, #d74d89, #eb8777, #f1a355);
}

.tarjeta {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.tarjeta.uno {
  background: -webkit-gradient(linear, left top, right top, from(#541447), color-stop(#dd89ad), to(#61529f));
  background: linear-gradient(to right, #541447, #dd89ad, #61529f);
  -webkit-box-shadow: 1px 1px 3px #61529f, -3px -3px 10px #541447;
          box-shadow: 1px 1px 3px #61529f, -3px -3px 10px #541447;
  background-size: 500%;
  -webkit-animation: background-mov 3s infinite alternate;
          animation: background-mov 3s infinite alternate;
  margin-bottom: 50px;
}

.tarjeta.dos {
  background: -webkit-gradient(linear, right top, left top, from(#d74d89), color-stop(#eb8777), to(#f1a355));
  background: linear-gradient(to left, #d74d89, #eb8777, #f1a355);
  -webkit-box-shadow: 1px 1px 4px #eb8777, -3px -3px 10px #d74d89;
          box-shadow: 1px 1px 4px #eb8777, -3px -3px 10px #d74d89;
  background-size: 500%;
  -webkit-animation: background-mov 3s infinite alternate;
          animation: background-mov 3s infinite alternate;
  margin-bottom: 50px;
}

.tarjeta.tres {
  background: -webkit-gradient(linear, right bottom, left top, from(#36569c), color-stop(#5d8dca), to(#825a9b));
  background: linear-gradient(to left top, #36569c, #5d8dca, #825a9b);
  -webkit-box-shadow: 1px 1px 4px #5d8dca, -3px -3px 10px #36569c;
          box-shadow: 1px 1px 4px #5d8dca, -3px -3px 10px #36569c;
  background-size: 500%;
  -webkit-animation: background-mov 3s infinite alternate;
          animation: background-mov 3s infinite alternate;
  margin-bottom: 50px;
}

.tarjeta.cuatro {
  background: -webkit-gradient(linear, left top, right bottom, from(#3e2763), color-stop(#dd2e5d), to(#ebb278));
  background: linear-gradient(to right bottom, #3e2763, #dd2e5d, #ebb278);
  -webkit-box-shadow: 1px 1px 4px #dd2e5d, -3px -3px 10px #3e2763;
          box-shadow: 1px 1px 4px #dd2e5d, -3px -3px 10px #3e2763;
  background-size: 500%;
  -webkit-animation: background-mov 3s infinite alternate;
          animation: background-mov 3s infinite alternate;
  margin-bottom: 50px;
}

.h3 {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 30%;
  font-weight: 400;
  text-align: center;
}

.tarjeta .h3 {
  opacity: 1;
}
.tarjeta .h3.activo {
  opacity: 0;
}

.foot {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#01010a), color-stop(#06061e), color-stop(#080832), color-stop(#19193c), color-stop(#321446), color-stop(#46194b), to(#501e5a));
  background: linear-gradient(to right bottom, #01010a, #06061e, #080832, #19193c, #321446, #46194b, #501e5a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infopersonal {
  width: 80%;
  padding-left: 20px;
}

.infopersonal .p:first-child {
  color: white;
  font-size: 0.7em;
  line-height: 30px;
}

.infopersonal .p:nth-child(2), .infopersonal .p:last-child {
  font-size: 0.6em;
  line-height: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#541447), color-stop(#dd89ad), to(#61529f));
  background: linear-gradient(to left, #541447, #dd89ad, #61529f);
  -webkit-background-clip: text;
  color: transparent;
}

.img {
  width: 225px;
  height: 225px;
}

.img img {
  border-radius: 50%;
}

.cincuenta {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.rrss {
  text-align: center;
}

.fab {
  font-size: 1.5em;
  padding-right: 20px;
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left top, from(#C6EA8D), to(#FE90AF));
  background: linear-gradient(to left, #C6EA8D, #FE90AF);
  -webkit-background-clip: text;
  color: transparent;
}

.fab:hover {
  background: -webkit-gradient(linear, right top, left top, from(#36569c), color-stop(#5d8dca), to(#825a9b));
  background: linear-gradient(to left, #36569c, #5d8dca, #825a9b);
  -webkit-background-clip: text;
  color: transparent;
}

.iconos {
  margin-bottom: 20px;
}

.rrss .email {
  background: -webkit-gradient(linear, right top, left top, from(#36569c), color-stop(#5d8dca), to(#825a9b));
  background: linear-gradient(to left, #36569c, #5d8dca, #825a9b);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 0.9em;
  letter-spacing: 2px;
  cursor: pointer;
}

.rrss .p {
  color: white;
  font-size: 0.7em;
  margin-bottom: 10px;
}