* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong, a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--blanco);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes background-mov {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes background-mov {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes crecer {
  0% {
    width: 0px;
  }
  100% {
    width: 150px;
  }
}
@keyframes crecer {
  0% {
    width: 0px;
  }
  100% {
    width: 150px;
  }
}
:root {
  --circulo: 50%;
  --marginm: 50px;
  --bgsize: 500%;
  --colortexto: white;
}

* {
  font-family: "Montserrat", sans-serif;
}

.boton {
  width: 40px;
  height: 40px;
  border: 1px solid #FE90AF;
  position: fixed;
  cursor: pointer;
  z-index: 3;
  right: 2%;
  top: 8%;
}

.boton .linea1 {
  width: 20px;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#C6EA8D), to(#FE90AF));
  background: linear-gradient(to left, #C6EA8D, #FE90AF);
  position: absolute;
  top: calc( 30% - 1px);
  left: 20%;
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: 3;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.boton .linea1.activo {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: white;
}

.boton .linea2 {
  width: 13px;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#C6EA8D), to(#FE90AF));
  background: linear-gradient(to left, #C6EA8D, #FE90AF);
  position: absolute;
  top: calc( 60% - 4.5px);
  left: 20%;
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: 3;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.boton .linea2.activo {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: white;
}

.boton .linea3 {
  width: 7px;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#C6EA8D), to(#FE90AF));
  background: linear-gradient(to left, #C6EA8D, #FE90AF);
  position: absolute;
  top: calc( 90% - 9px);
  right: 25%;
  z-index: 3;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.boton .linea3.activo {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: white;
}

.cortinilla {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  z-index: 1;
  opacity: 0;
  right: 0;
  top: 0;
  background: #19193c;
  pointer-events: none;
}
.cortinilla.activo {
  opacity: 1;
  pointer-events: auto;
}

.menucortina {
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.menucortina.activo {
  opacity: 1;
}

.menucortina .li {
  font-size: 3em;
  list-style-type: none;
  background: -webkit-gradient(linear, right top, left top, from(#C6EA8D), to(#FE90AF));
  background: linear-gradient(to left, #C6EA8D, #FE90AF);
  -webkit-background-clip: text;
  color: transparent;
}

.section.uno {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#01010a), color-stop(#06061e), color-stop(#080832), color-stop(#19193c), color-stop(#321446), color-stop(#46194b), to(#501e5a));
  background: linear-gradient(to right bottom, #01010a, #06061e, #080832, #19193c, #321446, #46194b, #501e5a);
}

.mainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1 {
  color: var(--colortexto);
  font-size: 2.8em;
  font-weight: 600;
  position: absolute;
  top: 45%;
}

.puesto {
  color: var(--colortexto);
  position: absolute;
  top: 55%;
}

.h1, .puesto {
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.logo {
  width: 100px;
  position: absolute;
  opacity: 0.3;
  top: 35%;
}

.section.dos {
  background: -webkit-gradient(linear, right top, left bottom, from(#501e5a), color-stop(#46194b), color-stop(#321446), color-stop(#19193c), color-stop(#080832), color-stop(#06061e), to(#01010a));
  background: linear-gradient(to left bottom, #501e5a, #46194b, #321446, #19193c, #080832, #06061e, #01010a);
}

.cuerpo {
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
  opacity: 1;
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}
.cuerpo.activo {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.works {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.secciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.nombreseccion {
  padding-left: var(--marginm);
  margin-bottom: var(--marginm);
}

.nombreseccion .h2 {
  background: -webkit-gradient(linear, right top, left top, from(#C6EA8D), to(#FE90AF));
  background: linear-gradient(to left, #C6EA8D, #FE90AF);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 5px;
}

.lineasub {
  width: 0px;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(#d74d89), color-stop(#eb8777), to(#f1a355));
  background: linear-gradient(to left, #d74d89, #eb8777, #f1a355);
  -webkit-animation-name: crecer;
          animation-name: crecer;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.tarjeta {
  width: 180px;
  height: 180px;
  border-radius: var(--circulo);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.tarjeta:hover {
  width: 190px;
  height: 190px;
}

.tarjeta .h3 {
  color: var(--colortexto);
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  -webkit-transition: 0.7s all ease;
  transition: 0.7s all ease;
}
.tarjeta .h3:hover {
  color: #19193c;
}

.tarjeta.uno {
  background: -webkit-gradient(linear, left top, right top, from(#541447), color-stop(#dd89ad), to(#61529f));
  background: linear-gradient(to right, #541447, #dd89ad, #61529f);
  -webkit-box-shadow: 1px 1px 3px #61529f, -3px -3px 10px #541447;
          box-shadow: 1px 1px 3px #61529f, -3px -3px 10px #541447;
  background-size: var(--bgsize);
  -webkit-animation: background-mov 3s infinite alternate;
          animation: background-mov 3s infinite alternate;
  margin-bottom: var(--marginm);
}

.tarjeta.dos {
  background: -webkit-gradient(linear, right top, left top, from(#d74d89), color-stop(#eb8777), to(#f1a355));
  background: linear-gradient(to left, #d74d89, #eb8777, #f1a355);
  -webkit-box-shadow: 1px 1px 4px #eb8777, -3px -3px 10px #d74d89;
          box-shadow: 1px 1px 4px #eb8777, -3px -3px 10px #d74d89;
  background-size: var(--bgsize);
  -webkit-animation: background-mov 3s infinite alternate;
          animation: background-mov 3s infinite alternate;
  margin-bottom: var(--marginm);
}

.tarjeta.tres {
  background: -webkit-gradient(linear, right bottom, left top, from(#36569c), color-stop(#5d8dca), to(#825a9b));
  background: linear-gradient(to left top, #36569c, #5d8dca, #825a9b);
  -webkit-box-shadow: 1px 1px 4px #5d8dca, -3px -3px 10px #36569c;
          box-shadow: 1px 1px 4px #5d8dca, -3px -3px 10px #36569c;
  background-size: var(--bgsize);
  -webkit-animation: background-mov 3s infinite alternate;
          animation: background-mov 3s infinite alternate;
  margin-bottom: var(--marginm);
}

.tarjeta.cuatro {
  background: -webkit-gradient(linear, left top, right bottom, from(#3e2763), color-stop(#dd2e5d), to(#ebb278));
  background: linear-gradient(to right bottom, #3e2763, #dd2e5d, #ebb278);
  -webkit-box-shadow: 1px 1px 4px #dd2e5d, -3px -3px 10px #3e2763;
          box-shadow: 1px 1px 4px #dd2e5d, -3px -3px 10px #3e2763;
  background-size: var(--bgsize);
  -webkit-animation: background-mov 3s infinite alternate;
          animation: background-mov 3s infinite alternate;
  margin-bottom: var(--marginm);
}

.foot {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#01010a), color-stop(#06061e), color-stop(#080832), color-stop(#19193c), color-stop(#321446), color-stop(#46194b), to(#501e5a));
  background: linear-gradient(to right bottom, #01010a, #06061e, #080832, #19193c, #321446, #46194b, #501e5a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infopersonal {
  width: 80%;
  padding-left: 20px;
}

.infopersonal .p:first-child {
  color: var(--colortexto);
  font-size: 0.7em;
  line-height: 30px;
}

.infopersonal .p:nth-child(2), .infopersonal .p:last-child {
  font-size: 0.6em;
  line-height: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#541447), color-stop(#dd89ad), to(#61529f));
  background: linear-gradient(to left, #541447, #dd89ad, #61529f);
  -webkit-background-clip: text;
  color: transparent;
}

.img {
  width: 225px;
  height: 225px;
}

.img img {
  border-radius: var(--circulo);
}

.cincuenta {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.cincuenta.uno {
  opacity: 0;
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
}
.cincuenta.uno.activo {
  opacity: 1;
}

.cincuenta.dos {
  opacity: 0;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}
.cincuenta.dos.activo {
  opacity: 1;
}

.rrss {
  text-align: center;
}

.iconos .fab {
  font-size: 1.5em;
  padding-right: 20px;
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left top, from(#C6EA8D), to(#FE90AF));
  background: linear-gradient(to left, #C6EA8D, #FE90AF);
  -webkit-background-clip: text;
  color: transparent;
}

.iconos .fab:hover {
  background: -webkit-gradient(linear, right top, left top, from(#36569c), color-stop(#5d8dca), to(#825a9b));
  background: linear-gradient(to left, #36569c, #5d8dca, #825a9b);
  -webkit-background-clip: text;
  color: transparent;
}

.iconos {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rrss .email {
  background: -webkit-gradient(linear, right top, left top, from(#36569c), color-stop(#5d8dca), to(#825a9b));
  background: linear-gradient(to left, #36569c, #5d8dca, #825a9b);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 0.9em;
  letter-spacing: 2px;
  cursor: pointer;
}

.rrss .p {
  color: var(--colortexto);
  font-size: 0.7em;
  margin-bottom: 10px;
}
