@keyframes background-mov {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes crecer {
    0% {
        width: 0px;
    }
    100% {
        width: 150px;
    }
}